/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/poems/poetry.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.poetry_main__i4lyU {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 10rem;
  font-family: var(--font-maine);
  font-style: normal;
  font-size: 30px;
  font-weight: bold;
  background-color: black;
  color: white;
}

.poetry_title__j7gFJ {
  font-size: var(--text-heading);
  margin-bottom: 0.5rem;
  padding-top: 10vh;
}

.poetry_poemContainer__DvWfF {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.poetry_poem__KA3_C {
  width: 100vw;
  font-size: 20px;
  margin-top: 4rem;
}

.poetry_poemimage__6rqKV {
  width: 100%;
  max-width: 43vw;
  height: 100%;
  margin: auto 0;
}

.poetry_poemimage__6rqKV img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
@media (max-width: 1024px) {
  .poetry_poemContainer__DvWfF {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .poetry_main__i4lyU > div:nth-child(8) .poetry_poem__KA3_C {
    font-size: 17px;
  }
  .poetry_poem__KA3_C {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .poetry_main__i4lyU > div:nth-child(8) .poetry_poem__KA3_C {
    font-size: 15px;
  }
  .poetry_main__i4lyU > div:nth-child(5) .poetry_poem__KA3_C {
    font-size: 15px;
  }
  .poetry_poem__KA3_C {
    font-size: 17px;
  }
}
@media (max-width: 425px) {
  .poetry_main__i4lyU > div:nth-child(8) .poetry_poem__KA3_C {
    font-size: 9px;
  }
  .poetry_main__i4lyU > div:nth-child(5) .poetry_poem__KA3_C {
    font-size: 10px;
  }
  .poetry_poem__KA3_C {
    font-size: 15px;
  }
  .poetry_title__j7gFJ {
    font-size: var(--text-mobile-heading);
  }
}
@media (max-width: 320px) {
  .poetry_main__i4lyU > div:nth-child(8) .poetry_poem__KA3_C {
    font-size: 7px;
  }
  .poetry_main__i4lyU > div:nth-child(5) .poetry_poem__KA3_C {
    font-size: 9px;
  }
}
